body {
	margin: 0;
	padding: 0;
	background: #ddd;
	}
#lampada {
	display: block;
	margin: 20px auto;
	}
#container {
	margin: 1em auto;
	width: 650px;
	background: #fff;
	}
#header {background: #CF3;}
#menu {
	float: right;
	width: 165px;
	background: #6F9;
	}
#contents {
	float: left;
	width: 440px;
	background: #9FC;
	margin: 0 0 0 20px;
	}
#footer {
	clear: both;
	background: #FF9;
	}